{{#if image}}
{{#with image}}
<img src="{{imgSrc}}" id="{{id}}" alt="{{alt}}">
{{/with}}
{{/if}}
<section>
    <h1>{{name}}</h1>
    {{#each paragraphs}}
    <ul>
        <li>{{this}}</li>
    </ul>
    {{/each}}
</section>
{{#if video}}
{{#with video}}
<iframe width="auto" src="{{source}}" title="{{description}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;   
 web-share" allowfullscreen></iframe>
{{/with}}
{{/if}}